
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    background-color: black;
    text-align: right;
    margin: 0;
}
li{
    margin-inline: 0.5rem;
    display: inline-block;
    padding: 0.5rem;
}
li a{
    color: #fff;
    text-decoration: none;
}
li a:hover, li a:focus{
    text-decoration: underline;
}
body{
    font-size: 1.2rem;
    font-family: 'Roboto';
}
main{
    background-color: aqua;
    width: 50%;
}
p{
    background-color: lightgray;
    margin: 100px 50px;
}
.opposite{
    display: inline-block;
    padding: 20px;
    margin-top: 100px;
    height: 200px;
    background-color: gray;
    color: white;
}